html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.card-deck .card {
  min-width: 220px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }


/* model section */

.modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0,0.5);

}
.modal-content{
  background-color: #f4f4f4;
  margin: 10% auto;
  padding: 20px;
  width: 600px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0,0.2), 0 7px 20px 0 rgba(0, 0, 0,0.2);
  animation-name: openModel;
  animation-duration: 1s;
}

.modal-content p{
  text-align: center;
  font-size: var(--hfont);
  color: var(--color);
}
.modal-content form{
  
      text-align: left;
      margin: 1rem 0rem;
      background-color: transparent;
      border: none;
  
}

.form-control{
  margin: 12px 0px;
}

.close-btn{
  color: #706868;
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: 2px;
  border: none;
  background-color: transparent;
  text-align: center;
  font-size: 33px;
}
.close-btn:hover,.close-btn:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* slider css  */

 /* Add some basic styling to the slider */

.userslider{
  display: flex;
  flex-direction: column;
  align-items: center;
}

 .slider {
  width: 300px;
  margin: 20px;
}

/* Highlight the selected plan */
.highlighted {
  display: block;
  position:relative;
  z-index: 0;
  transform: scale(1);
  background: #ffff;
  box-shadow: 0px 1px 172px #000;
}

.hide{
  display: none;
}

@media screen and (max-width: 390px) {
  .modal-content{
    width: 350px;
  }
}

@media screen and (max-width: 635px) {
  .modal-content{
    width: 400px;
  }
}